.container {
  margin: 10px 30px;
}
video {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.thumbnails img {
  height: 200px;
  margin: 10px;
  border-radius: 2px;
}